.countries {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax(150px, auto);
	row-gap: 30px;
	column-gap: 20px;
	grid-auto-rows: 1fr;
}

.countriesTitle {
	grid-column: 1 / -1;
	text-align: center;
}
